<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExploreScape</title>



  <!-- stylesheet -->
   <link rel="stylesheet" href="../static/css/index1.css">
</head>
<body>



  <div class="content">
    <img src="../static/bacground/bac 3.png" alt="background" class="back-3">

    <div class="title">
      <h3>The Music In Forest World</h3>
      <h1>forest</h1>
    </div>

    <img src="../static/bacground/bac 2.2.png" alt="background" class="back-2">
    <img src="../static/bacground/bac 1.png" alt="background" class="back-1">

    <div class="info-wrap">
      <p>
        Forest: A symphony of nature, where melodies echo the rustling leaves and rhythms pulse with life's heartbeat. It's a musical odyssey into the serene depths of woodlands, capturing the essence of tranquility and the vigor of the wild. Dive into the lush soundscapes of Forest, a tribute to the harmony between man and nature.
      </p>
    </div>
    

    <div class="cta">
      <button> 
        Start Listen
        <i class="fa-solid fa-arrow-right"></i>
      </button>
    </div>

    <div class="slider">
      <i class="fa-solid fa-chevron-left"></i>
      <i class="fa-solid fa-chevron-right"></i>
    </div>
  </div>
  
</body>
<script>
        // 这个函数会在页面加载完成后执行
        window.onload = function() {
      // 获取按钮元素
      var button = document.querySelector('button');
      // 为按钮添加点击事件监听器
      button.addEventListener('click', function() {
        // 当按钮被点击时，跳转到index.html
        window.location.href = 'index.html';
      });
    };
</script>
</html>